@font-face {
    font-family: 'Curbe';
    src: url('../fonts/curbe.woff');
}
@font-face{
	font-family: 'Helvetica';
	src: url('../fonts/helvetica.woff');
}

body{
	height: 100vh;
	min-height: 100vh;
	overflow-x: scroll;
	overflow-y: hidden;
}
.horizontal-scroll-wrapper{
	display: inline-flex;
	min-height: 1080px;
    overflow-y: scroll;
    overflow-x: hidden;

}
/*Screen 1*/
	@keyframes yazik_open{
		0%{
			transform: translateY(0px);
		}
		50%{
			transform: translateY(-120px);
		}
		80%{
			transform: translateY(-120px);
		}
		100%{
			transform: translateY(0px);
		}
	}
	@keyframes auto_blur{
		0%{
			filter: blur(0px);
		}
		25%{
			filter: blur(20px);
		}
		80%{
			filter: blur(20px);
		}
		90%{
			filter: blur(0px);
		}
		100%{
			filter: blur(0px);
		}
	}
.screen_1{
	display: inline-flex;
	width: 1920px;
	height: 100vh;

}
.screen_1 h1{
	font-family: 'Curbe';
	font-weight: bold;
	text-align: left;
	font-size: 70px;
	width: 600px;
	/* margin: auto auto; */
	z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.screen_1 h2{
	font-family: 'Helvetica';
	font-size: 24px;
	text-align: center;
	z-index: 9999;
	position: absolute;
	bottom: 19%;
	left: 43%;
  transform: translate(-19%,-43%);

}
.screen_1 h3{
	font-family: 'Helvetica';
	font-size: 24px;
	text-align: center;
	z-index: 9999;
	position: absolute;
	bottom: 19%;
	right: 20%;
  transform: translate(-19%,-20%);
}
/*Screen 1 BG*/
.jabki_bg{

}
.jabki_bg img{
	position: absolute;
}
.jabki_bg_1{
	filter: blur(15px);
	left: -5%;
}
.jabki_bg_2{
	filter: blur(15px);
	width: 60%; height: 60%;
	left: 17%;
	top: -5%;
}
.jabki_bg_3{
	filter: blur(15px);
	width: 55%; height: 55%;
	top: 2%;
	right: -5%;
}
.jabki_bg_4{
	filter: blur(15px);
	width: 75%; height: 75%;
	bottom: -20%;
	left: 10%;
}
.jabki_bg_5{
	filter: blur(15px);
	width: 45%; height: 45%;
	bottom: 5%;
	right: -5%;
}
/*HOVER JAB*/
.jabki_bg_1:hover{
	transition-duration: .2s;
	filter: blur(0px);
}
.jabki_bg_2:hover{
	transition-duration: .2s;
	filter: blur(0px);
}
.jabki_bg_3:hover{
	transition-duration: .2s;
	filter: blur(0px);
}
.jabki_bg_4:hover{
	transition-duration: .2s;
	filter: blur(0px);
}
.jabki_bg_5:hover{
	transition-duration: .2s;
	filter: blur(0px);
}

.logo{
	width: 5%;
  /* height: 5%; */
	bottom: 19%;
  left: 15%;
  transform: translate(-19%, -15%);
}

/*Screen 2*/
.screen_2{
	display: inline-flex;
	width: 4800px;
	height: 100vh;
	position: relative;

}
.screen_2 .palka_Y1{
	height: 100vh;
	position: absolute;
	left: 30px;
	bottom: -50px;
  /* max-width: 100% */
}
.screen_2 .palka_Y2{
	height: 100vh;
	position: absolute;
	right: 30px;
	bottom: -50px;
}
.screen_2 .palka_X{
	width: 98%;
	position: absolute;
	top: 50px;
	left: 30px;
	z-index: -999;
}
.screen_2 .cloth{
	position: relative;
	margin-left: -200px;
	top: -50px;
}
.screen_2 .cloth img {
	width: auto; height: 90%;
}
.screen_2 .cloth .cloth_1{
	position: absolute;
	top: 60px;
	left: 150px;
}
.screen_2 .cloth .cloth_1_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 750px;
	left: 550px;
}

.screen_2 .cloth .cloth_2{

	position: absolute;
	top: 60px;
	left: 450px;
}
.screen_2 .cloth .cloth_2_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 650px;
	left: 850px;
}
.screen_2 .cloth .veshalka{
	width: auto; height: 25%;
	position: absolute;
	top: 80px;
	left: 780px;
}
.screen_2 .cloth p{
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-size: 24px;
	font-family: 'Curbe';
	position: absolute;
	width: 100px;
	top: 150px;
	left: 760px;
}
.screen_2 .cloth p span{
	position: absolute;
	left: 300px;
}
.screen_2 .cloth .jaba1{
	width: auto; height: 25%;
	position: absolute;
	top: 130px;
	left: 780px;
}
.screen_2 .cloth .jaba2{
	width: auto; height: 40%;
	position: absolute;
	top: 100px;
	left: 1000px;
	z-index: 2;
}
.screen_2 .cloth .tufli{
	width: 400px; height: auto;
	position: absolute;
	bottom: -50px;
	left: 800px;
}
.screen_2 .cloth .tufli:hover ~ .tufli_price{
	opacity: 1;
	transition-duration: .50s;
}
.screen_2 .cloth .tufli_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 750px;
	left: 800px;
}

.screen_2 .cloth .cloth_3{
	position: absolute;
	top: 30px;
	left: 1000px;
}
.screen_2 .cloth .cloth_3_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 750px;
	left: 1150px;
}
.screen_2 .cloth .cloth_4{
	position: absolute;
	top: 60px;
	left: 1300px;
}
.screen_2 .cloth .cloth_4_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 750px;
	left: 1560px;
}
.screen_2 .cloth .yashik_wrapper{
	height: 700px; width: 700px;
	bottom: -12%;
	left: 1750px;
	position: absolute;
	display: inline-block;
}
.screen_2 .cloth .yashik{
	height: 100%;
  width: 100%;
	/* display: block; */
	position: absolute;
  /* margin-bottom: 210px;
  bottom: 0px; */
}
.screen_2 .cloth .yashik1{
	height: 26%; width: auto;
	/* display: block; */
	position: absolute;
  top: 60%;
	/* bottom: 85px; */
	left: calc(50% - 220px);
	animation: open 4s ease  infinite;
	animation-play-state: paused;
}
/* .screen_2 .cloth .truxali{
	height: 20%; width: auto;
	display: block;
	position: absolute;
	bottom: 100px;
	left: 130px;
	z-index: -1;
} */
 .screen_2 .cloth .yashik_wrapper p{
 	width: 100px; height: auto;
 	display: block;
 	font-size: 32px;
 	font-family: 'Curbe';
 	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;

 	position: absolute;
 	left: 400px;
 	top: 500px;

 	z-index: -1;
 }
.screen_2 .cloth .yashik_wrapper:hover .yashik1{
	animation-play-state: running;
}
@keyframes open{
	10%{
		transform: translateY(0px)
	}
	50%{
		transform: translateY(-190px)
	}
	76%{
		transform: translateY(-190px)
	}
	100%{
		transform: translateY(0px)
	}
}

 .screen_2 .cloth .girlyanda{
 	position: absolute;
 	width: 700px;
 	height: auto;
 	top: 92px;
	left: 1750px;
 }
 .screen_2 .cloth h2{
 	font-size: 36px;
 	font-family: 'Curbe';
 	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	/* top: -25%; */
 	position: absolute;
 	width: 700px;
 	height: auto;
 	left: 20%;
 }
 .screen_2 .cloth .cloth_5{
	position: absolute;
	top: 60px;
	left: 2350px;
}
.screen_2 .cloth .cloth_5_price{
	opacity: 0;
	position: absolute;
	height: 10%;
  width: auto;
	z-index: 9999;
	top: 650px;
	left: 2460px;
}
.screen_2 .cloth .sumka_wrapper{
	width: 380px;
  height: auto;
	position: absolute;
	bottom: 35%;
	left: 2500px;
	display: inline-block;

}
.screen_2 .cloth .sumka_wrapper img:hover ~ div.yazik{
	top: -50px;
}
.screen_2 .cloth .sumka_wrapper img:hover ~ img.sumka_price{
	opacity: 1;
	transition-duration: .50s;
}
.screen_2 .cloth .sumka{
	width: 100%; height: auto;
	position: absolute;
	top: 0px;
	display: block;
	z-index: 2;

}
.screen_2 .cloth .sumka_price{
	width: 35%; height: auto;
	opacity: 0;
	position: absolute;
	z-index: 9999;
	top: 200px;
	left: 0px;
}
.screen_2 .cloth .yazik{
	transition-duration: .50s;
	width: 14px; height: 200px;
	background-color: #FF5656;
	border: none;
	display: block;
	position: absolute;
	top: 120px;
	left: calc(50% - 7px);
	z-index: 1;

}

 .screen_2 .cloth .cloth_6{
 	height: 70%; width: auto;
	position: absolute;
	top: 60px;
	left: 2600px;
}
.screen_2 .cloth .cloth_6_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 550px;
	left: 2640px;
}
 .screen_2 .cloth .cloth_7{
	position: absolute;
	top: 60px;
	left: 2900px;
}
.screen_2 .cloth .cloth_7_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 550px;
	left: 2940px;
}
 .screen_2 .cloth .cloth_8{
	position: absolute;
	top: 60px;
	left: 3150px;
}
.screen_2 .cloth .cloth_8_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 450px;
	left: 3150px;
}
 .screen_2 .cloth .cloth_9{
	position: absolute;
	top: 60px;
	left: 3600px;
}
.screen_2 .cloth .cloth_9_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 820px;
	left: 3670px;
}
 .screen_2 .cloth .cloth_10{
 	height: 80%; width: auto;
	position: absolute;
	top: 45px;
	left: 3900px;
}
.screen_2 .cloth .cloth_10_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 720px;
	left: 4000px;
}
 .screen_2 .cloth .cloth_11{
	position: absolute;
	top: 55px;
	left: 3350px;
}
.screen_2 .cloth .cloth_11_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 670px;
	left: 3450px;
}
 .screen_2 .cloth .cloth_12{
	position: absolute;
	top: 55px;
	left: 4300px;
}
.screen_2 .cloth .cloth_12_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 770px;
	left: 4650px;
}
 .screen_2 .cloth .cloth_13{
	position: absolute;
	top: 30px;
	left: 4400px;
}
.screen_2 .cloth .cloth_13_price{
	opacity: 0;
	position: absolute;
	height: 10%; width: auto;
	z-index: 9999;
	top: 650px;
	left: 4750px;
}

 .screen_2 .cloth .jaba_hook{
 	z-index: 3;
 	height: 30%; width: auto;
 	position: absolute;
	top: 100px;
	left: 4250px;
 }
/*SCREEN 3*/
.screen_3{
	display: inline-flex;
	width: 1920px;
	height: 100vh;
}
.screen_3 .about{
	margin-top: 200px;
	margin-left: 200px;
}
.screen_3 .about h1{
	font-weight: bold;
	line-height: 90px;
	font-size: 70px;
 	font-family: 'Curbe';
}
.screen_3 .about h2{
	margin-top: 240px;
	line-height: 35px;
	font-size: 24px;
 	font-family: 'Helvetica';
}
.screen_3 img{
	height: 75%; width: auto;
	margin: 170px auto;
}
/*HOVER CLOTH*/
.cloth_1:hover{
	z-index: 999;
}
.cloth_1:hover + .cloth_1_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_2:hover{
	z-index: 999;
}
.cloth_2:hover + .cloth_2_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_3:hover{
	z-index: 999;
}
.cloth_3:hover + .cloth_3_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_4:hover{
	z-index: 9999 !important;
}
.cloth_4:hover + .cloth_4_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_5:hover{
	z-index: 999;
}
.cloth_5:hover + .cloth_5_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_6:hover{
	z-index: 999;
}
.cloth_6:hover + .cloth_6_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_7:hover{
	z-index: 999;
}
.cloth_7:hover + .cloth_7_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_8:hover{
	z-index: 999;
}
.cloth_8:hover + .cloth_8_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_9:hover{
	z-index: 999;
}
.cloth_9:hover + .cloth_9_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_10:hover{
	z-index: 999;
}
.cloth_10:hover + .cloth_10_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_11:hover{
	z-index: 999;
}
.cloth_11:hover + .cloth_11_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_12:hover{
	z-index: 999;
}
.cloth_12:hover + .cloth_12_price{
	transition-duration: .50s;
	opacity: 1;
}
.cloth_13:hover{
	z-index: 999;
}
.cloth_13:hover + .cloth_13_price{
	transition-duration: .50s;
	opacity: 1;
}
