@media (min-width: 1680px) and (min-height: 1050px){
	.screen_1{
	width: 1680px;
	height: 100vh;
}
.screen_1 h2{
	left: 715px;
}
.logo{
	bottom: 145px;
}
.screen_2 .cloth p{
	display: none;
}
.screen_2 .cloth .cloth_1{
	left: 200px;
}
.screen_2 .cloth .cloth_1_price{
	left: 600px;
}
.screen_2 .cloth .cloth_6{
	left: 2700px;
}
.screen_2 .cloth .cloth_6_price{
	left: 2740px;
}
.screen_2 .cloth .cloth_7{
	left: 3000px;
}
.screen_2 .cloth .cloth_7_price{
	left: 3040px;
}
.screen_2 .cloth .cloth_10{
	left: 4400px;
}
.screen_2 .cloth .cloth_10_price{
	left: 4500px;
}
.screen_2 .cloth .cloth_9{
	left: 3900px;
}
.screen_2 .cloth .cloth_9_price{
	left: 3900px;
}
.screen_2 .cloth .cloth_11{
	left: 3550px;
}
.screen_2 .cloth .cloth_11_price{
	left: 3650px
}
.screen_2 .cloth .cloth_8{
	left: 3350px;
}
.screen_2 .cloth .cloth_8_price{
	left: 3300px;
}
.screen_2 .cloth .yashik_wrapper{
	bottom: -370px;
	height: 800px;
	width: 750px;
}
.screen_2 .cloth .yashik1{
	left: calc(50% - 255px);
	bottom: 110px;
}
.screen_2 .cloth .yashik_wrapper p{
	left: 450px;
	top: 570px;
}



	.screen_3{
	width: 1680px;
	height: 100vh;
}
	.cloth_1{}
	.cloth_2{}
	.cloth_3{}
	.cloth_4{}
	.cloth_5{}
	.cloth_6{}
	.cloth_7{}
	.cloth_8{}
	.cloth_9{}
	.cloth_10{}
	.cloth_11{}
	.cloth_12{
		display: none;
	}

	.cloth_13{
		display: none;
	}

	.screen_3 .about{
		margin-top: 250px;
		margin-left: 170px;
	}
	.screen_3 .about h1{
		font-size: 64px;
	}
}