@media (max-width: 1680px) and (min-height: 1050px)
{
.screen_1{
	width: 1680px;
	height: 100vh;
}
.screen_1 h2{
	/* left: 715px; */
}
.logo{
	/* bottom: 145px; */
}
.screen_2 .cloth p{
 left: 900px
}
.screen_2 .cloth p span{
	left: 200px
}
.screen_2 .cloth .jaba1{
	top: 160px;
}
.screen_2 .cloth .cloth_1{
	left: 200px;
}
.screen_2 .cloth .cloth_1_price{
	left: 600px;
}
.screen_2 .cloth .tufli_price{
	top: 850px;
}
.screen_2 .cloth .cloth_6{
	left: 2700px;
}
.screen_2 .cloth .cloth_6_price{
	left: 2740px;
}
.screen_2 .cloth .cloth_7{
	left: 3000px;
}
.screen_2 .cloth .cloth_7_price{
	left: 3040px;
}
.screen_2 .cloth .cloth_10{
	left: 4400px;
}
.screen_2 .cloth .cloth_10_price{
	left: 4500px;
}
.screen_2 .cloth .cloth_9{
	left: 3900px;
}
.screen_2 .cloth .cloth_9_price{
	left: 3900px;
}
.screen_2 .cloth .cloth_11{
	left: 3550px;
}
.screen_2 .cloth .cloth_11_price{
	left: 3650px
}
.screen_2 .cloth .cloth_8{
	left: 3350px;
}
.screen_2 .cloth .cloth_8_price{
	left: 3300px;
}
.screen_2 .cloth .sumka_wrapper{
	bottom: 31%;
}
/* .screen_2 .cloth .yashik_wrapper{
	bottom: -370px;
	height: 800px;
	width: 750px;
} */
.screen_2 .cloth .yashik1{
	left: calc(55% - 255px);
	bottom: 110px;
}
.screen_2 .cloth .yashik_wrapper p{
	left: 450px;
	top: 570px;
}

	.screen_3{
	width: 1680px;
	height: 100vh;
}

	.cloth_12{
		display: none;
	}

	.cloth_13{
		display: none;
	}

	.screen_3 .about{
		margin-top: 250px;
		margin-left: 170px;
	}
	.screen_3 .about h1{
		font-size: 64px;
	}
}

@media (max-width: 1440px) and (max-height: 900px){
.screen_1{
	width: 1440px;
}
.screen_1 h2{
	/* left: 580px; */
}
.screen_1 h3{
	/* bottom: 148px; */
}
.jabki_bg_3{
	display: none;
}
.jabki_bg_2{
	top: -45%;
	left: 17%;
	width: 100%;
	height: 100%;
}
.jabki_bg_4{
	display: none;
}
.jabki_bg_5{
	width: 70%; height: 70%;
	bottom: -15%;
	right: -7%;
}
.screen_1 h3{
	/* right: 370px; */
}
.logo{
	/* bottom: 140px; */
}
.screen_2 .cloth .cloth_1{
	left: 200px;
}
	.screen_2 .palka_X{
		left: 5px;
	}
	.screen_2 .palka_Y1{
		left: 5px;
	}
	.screen_2 .palka_Y2{
		right: 60px;
	}
/* .screen_2 .cloth .yashik_wrapper{
	bottom: -310px;
} */
/* .screen_2 .cloth .sumka_wrapper{
	bottom: 110px;
} */
.screen_2 .cloth .cloth_3_price{
	top: 650px;
}
.screen_3{
	width: 1440px;
}
.screen_3 .about{
	margin-top: 200px;
	margin-left: 100px;
	}
.screen_3 .about h1{
	font-size: 54px;
	}
}

@media (max-width: 1366px) and (max-height: 768px){
	.screen_2 .cloth .yashik_wrapper{
		bottom: -13%;
	}
	.screen_2 .cloth .sumka_wrapper{
		bottom: 43%;
	}
	.screen_1{
		width: 1366px;
	}
	.screen_2 .palka_X{
		left: 0px;
	}
	.screen_2 .palka_Y1{
		left: 5px;
	}

	.screen_2 .cloth h2{
		top: 50px;
	}
	.screen_3{
		width: 1366px;
	}
	.screen_3 .about h1{
		line-height: 70px;
	}
	.screen_3 .about{
		margin-top: 150px;
		margin-left: 100px;
	}
	.screen_3 img{
		margin-top: 8%;
		margin-right: 7%;
	}
	.screen_3 .about h2{
		margin-top: 220px;
	}

	.screen_2 .cloth .cloth_1_price{
		top: 600px;
		left: 500px;
	}
	.screen_2 .cloth .cloth_2_price{
		top: 550px;
		left: 650px;
	}
	.screen_2 .cloth .tufli_price{
		top: 650px;
	}
	.screen_2 .cloth .cloth_4_price{
		top: 650px;
	}
	.screen_2 .cloth .cloth_5_price{
		top: 550px;
	}
	.screen_2 .cloth .cloth_6_price{
		top: 500px;
	}
	.screen_2 .cloth .cloth_9_price{
		top: 700px;
	}
	.screen_2 .cloth .cloth_10_price{
		top: 600px;
	}
	.screen_2 .cloth .cloth_12_price{
		left: 4350px;
		top: 600px;
	}
	.screen_2 .cloth .cloth_13_price{
		top: 550px;
	}
}


@media (max-width: 1280px) and (max-height: 800px){
	.screen_2 .cloth .cloth_1_price{
		top: 700px;
		left: 230px;
	}
	.screen_2 .cloth .cloth_2_price{
		top: 670px;
		left: 800px;
	}
	.screen_2 .cloth .cloth_4_price{
		top: 700px;
	}
	.screen_2 .cloth .cloth_9_price{
		top: 730px;
	}
	.screen_2 .cloth .cloth_10{
		top: 60px;
	}
	.screen_2 .cloth .cloth_10_price{
		top: 650px;
	}
	.screen_2 .cloth .cloth_12_price{
		top: 630px;
	}
	.screen_2 .cloth .cloth_13_price{
		top: 600px;
	}


	.screen_3{
		width: 1280px;
	}
	.screen_3 .about{
		margin-top: 150px;
	}
	.screen_2 .cloth .sumka_wrapper{
		bottom: 42%;
	}
	.screen_2 .cloth .yashik_wrapper{
		bottom: -13%;
	}
	.screen_2 .cloth h2{
		top: 70px;
	}
}
@media (max-width: 1024px) and (max-height: 768px){
	.screen_2 .cloth .cloth_9_price{
		top: 700px;
	}
	.jabki_bg_2{
		display: none;
	}
	.jabki_bg_5{
		width: 80%; height: 80%;
		transform: rotate(-90deg);
		bottom: 10%;
		right: -20%;
		animation: auto_blur 5s ease-in infinite !important;
	}
	.jabki_bg_1{
		animation: auto_blur 3s ease-in infinite !important;
	}
	.screen_2 .cloth .yashik1{
		animation-play-state: running;
	}
	.screen_2 .cloth .sumka_wrapper .yazik{
		animation: yazik_open 3s ease-in infinite !important;
	}
	.screen_2 .cloth .sumka_wrapper img:hover ~ div.yazik{
		top: 120px;
	}
	.screen_3{
		width: 1024px;
	}
	.screen_3 .about h1{
		font-size: 32px;
		line-height: 40px;
	}
	.screen_3 .about h2{
		font-size: 18px;
	}
	.screen_3 .about{
		margin-top: 200px;
		margin-left: 35px;
	}
	.screen_3 img{
		right: -20px;
		top: 10px;
    position: relative;
	}
}
@media (max-width: 768px) and (max-height: 1024px){
	.screen_1{
		width: 768px;
	}
	.jabki_bg_1{
		display: none;
	}
	.jabki_bg_3{
		display: none;
	}
	.jabki_bg_5{
		animation: auto_blur 5s ease-in infinite !important;
		width: 130%; height: 130%;
		bottom: -45%;
		right: -20%;

	}
	.jabki_bg_2{
		animation: auto_blur 3s ease-in infinite !important;
		top: -50%;
		left: -10%;
		width: 120%; height: 120%;
	}
	.jabki_bg_4{
		display: none;
	}
	.screen_2 .cloth .cloth_1{
		left: 180px;
	}
	.screen_2 .cloth .cloth_13_price{
		display: none;
	}
	.screen_2 .cloth .cloth_13{
		display: none;
	}
	.screen_2 .cloth .yashik1{
		animation-play-state: running;
	}
	.screen_2 .cloth .sumka_wrapper .yazik{
		animation: yazik_open 3s ease-in infinite !important;
	}
	.screen_2 .cloth .sumka_wrapper img:hover ~ div.yazik{
		top: 120px;
	}

	.screen_1 h2{
		left: 65%;
		font-size: 30px;
		transform: translate(-30%,5%);
		bottom: 10%;
	}
	.logo{
		width: 17%;
		bottom: 10%;
		transform: translate(-19%, 18%);
	}
	.screen_1 h3{
		font-size: 30px;
		bottom: 0px;
		top: 25%;
		right: 0px;
		left: -20%;

	}
	.screen_3{
		width: 768px;
	}
	.screen_3 .jaba_end{
		height: 50%;
		display: none;
	}
	.screen_3 span{
	display: block !important;
	text-align: center;
	}
	.screen_3 span img{
	height: 75%; width: 75%;
	margin: 0;
	margin-top: 50px;
	margin-right: 10%;
	}

	.screen_3 .about{
		margin: 0px;
		margin-left: 50px;
		margin-top: 50px;
	}
	.screen_3 .about h1{
		line-height: 60px;
		font-size: 55px;
	}
	.screen_3 .about h2{
		margin: 0;
		margin-top: 50px;
	}
}
@media (max-width: 768px) and (max-height: 1024px){
	.screen_1{
		width: 320px;
	}
	.jabki_bg_2{
		display: none;
	}
	.jabki_bg_5{
		display: none;
	}
	.jabki_bg_2{
		display: block;
		transform: rotate(-90deg);
		width: 200%; height: 200%;
		left: -50%;
	}
	.screen_3{
		width: 640px;
	}
	.screen_3 .jaba_end{
		height: 50%; width: 50%;
		display: block;
		margin: 0px;
		margin-top: 20%;
		margin-right: 20px;
	}
	.screen_3 span{
	display: none !important;
	text-align: center;
	}
	.screen_3 span img{
	height: 75%; width: 75%;
	margin: 0;
	margin-top: 50px;
	margin-right: 10%;
	}

	.screen_3 .about{
		margin: 0px;
		margin-left: 50px;
		margin-top: 50px;
	}
	.screen_3 .about h1{
		line-height: 40px;
		font-weight: bold;
		font-size: 32px;
	}
	.screen_3 .about h2{
		margin: 0;
		line-height: 25px;
		margin-top: 150px;
	}
}